body{
    font-family: Lato,sans-serif;
    margin: 0%;
    background-color: #c62828;
    
}
.header {
    padding: 1%;
    text-align: center;
    background-color: #202124;
    color: white;
    font-size: 30px;
  }
  .container{
    background-color: #ef5350;
    text-align: center;
    margin: 0 auto;
    margin-top: 2%;
    width: 80vw;
    height: 65vh;
    color: white;
    font-size: 30px;
    border-radius: 50px;
  }