body{
    font-family: Lato,sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: #c62828;
    
}
.header {
   
    width: 100%;
    top: 0;
    text-align: center;
    background-color: #202124;
    color: white;
    font-size: 25px;
  }
.header img{
  width: 40%;
}
  #container{
    background-color: #ef5350;
    text-align: center;
    margin: 0 auto;
    margin-top: 2%;
    width: 74vw;
    height: 60vh;
    padding: 3%;
    color: white;
    font-size: 30px;
    border-radius: 50px;
  }
  .titulo{
    margin-top: -5px;
  }
  #instructivo{
    margin-bottom: 0%;
  }
  #search{
    width: 24vw;
    height: 30px;
    border-radius: 15px;
  }
  .btn{
      background-color: rgb(236, 233, 37);
      height: 35px;
      border-radius: 15px;
  }
  .img{
    float: left;
    padding-left: 10px;
    margin-left: 8%;
    position: relative;
    width: 30%;
    background-color: #c62828;
    border-radius: 15px;
    margin-bottom: 2%;
  }
  .dato{
    top: 0;
    float: right;
    width: 50%;
    margin-bottom: 3%;
    margin-top: 1%;   
  }
  br{
    clear: both;
  }
  footer {
    color: #fff;
    padding: 30px 0;
    margin-top: 3%;
    text-align: center;
    background-color: #202124;
}
@media only screen and (max-width: 600px) {
  .header{
    font-size: 90px;
  }
  #container{
    font-size: 30px;
    width: 90vw;
  }
  footer{
    padding: 10px 0;
    margin-top: 13%;
  }
}
@media only screen and (min-width: 800px) {
  #container{
    font-size: 45px;
    height: 60vh!important
  }
  footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 10px 0;
    margin-top: 18%;
  }
}